body {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
    background: linear-gradient(to right, #57f0db, #51d630);
}

.clock {
    display: flex;
    align-items: center;
    font-family: Arial, sans-serif;
    font-size: 3em;
    border-radius: 10px; 
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.3); 
    box-shadow: 0 0 20px rgba(0, 0, 0, 0.5);
}

.hora, .minuto, .segundo {
    border: 2px solid rgba(0, 0, 0, 0.7); 
    border-radius: 5px; 
    padding: 0.2em 0.5em; 
    background-color: rgba(255, 255, 255, 0.2); 
    margin: 0 0.2em; 
}
